*{
    margin: 0;
    padding: 0;
}
.r{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
}
div{
    position: absolute;
    border: solid 1px gray;
    display: flex;
   height: 100px;
   flex-direction: column;

  }